[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/myappbase/appbase
        ignore = dirty
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/myappbase/berkeley-softfloat-3
