*.a
*.sw*
*.dylib
*.ll
*.bc
*.s
*.dot
*.cmake
!.cicd
!CMakeModules/*.cmake
*.ninja
\#*
\.#*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake-build-debug/
cmake-build-release/
Makefile
compile_commands.json
moc_*
*.moc

genesis.json
hardfork.hpp

libraries/utilities/git_revision.cpp
libraries/egenesis/egenesis_brief.cpp
libraries/egenesis/egenesis_full.cpp
libraries/egenesis/embed_genesis
libraries/types/type_generator
libraries/types/types_test
libraries/fc/test/crypto/test_cypher_suites
libraries/testing/chain_tester

scripts/tn_init.sh

unittests/unit_test

doxygen
myapp.doxygen

*.pyc
*.pyo

Testing/*
build.tar.gz
build/*
build-debug/*

etc/myappbase/node_*
var/lib/node_*
.vscode
.idea/
*.iws
.DS_Store
scripts/usr/*
